/* Modify the backgorund color */
.navbar-custom {
  background-color: #ebb62a;
}

.card-custom {
  background-color: #ebb82ae5;
}

.jumbotron {
  background-image: url("./png/charlotte-noelle-1C7IPvxg4-0-unsplash.jpg");
  background-size: cover;
}

.jumbotron-content {
  background-color: rgba(245, 245, 220, 0.762);
  border-radius: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
